body {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body.dark {
    background-color: #222222;
}

body h1 {
    line-height: 16pt;
    font-size: 11pt;
    color: #222222;
    margin: 0.5rem;
    padding: 0.3rem;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

body.dark h1 {
    color: #fff;
}

body ul {
    list-style: none;
    padding-left: 0px;
}

body li {
    cursor: pointer;
    margin: 0 0.5rem;
    padding: 0.4rem;
    font-size: 10pt;
    border-radius: 0.3rem;
    color: #666666;
    font-weight: 400;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

body.dark li {
    color: #eeeeee;
}

body li:hover {
    background-color: #f7f7f6;
    text-decoration: none;
}

body.dark li:hover {
    background-color: #333333;
}

body li.selected {
    color: rgb(15, 83, 144);
    background-color: #f5f9ff;
}

body.dark li.selected {
    color: rgb(134, 205, 229);
    background-color: #252a2d;
}
